@import url('https://fonts.googleapis.com/css?family=Ubuntu|VT323');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

body{
    font-family: 'Ubuntu', sans-serif;
}


/*-----------------------
*************************
     MOBILE FIRST      
*************************
-------------------------*/

/*----------------------
     NAVIGATION
-----------------------*/

.topnav {
  overflow: hidden;
  background-color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*
.active {
  background-color: #01babc;
  color: white;
}
*/
#logo img{
    width:45px;
}

.topnav .icon {
  display: none;
}

.dropdown {
   
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 15px;    
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
    font-weight: 700;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover{
    color:#01babc;
}
#apply{
    background-color: #01babc;
    border-radius: 3px;
    height:50px;
}
#apply a{
    color:white;
    font-weight: 700;
}


/*
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: black;
}
*/

/*
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}
*/

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
    
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}









/*----------------------
        MAIN PAGE
-----------------------*/
#face{
    width:100%;
    margin-top:5px;
    
}
#welcome{
    position: relative;
    bottom:100px;
    left:50px;
    color:#01babc;
}
h4{
    margin:0;
}

a{
    text-decoration: none;
    cursor:pointer;
}

/*----TOP LINKS----*/

.links{
    background-color: rgba(102, 153, 153, 0.2);
    width:100%;
    height:450px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.onelink{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.onelink img{
    margin-bottom: 10px;
    margin-top:10px;
}


#icon{
    width:100px;
    height:100px;
}
#button{
    padding:3px;
    background-color: #01babc;
    border-radius: 4px;
    color:white;
}

/*-----GRID START-----*/
.wrap img{
    width:100%;
    margin-top: 50px;
}
.wrap{
    
    display:grid;
    
}
.line{
    background-color: #01babc;
    width:100px;
    height:5px;
    margin-top: 20px;  
}

.nested h2{
    color:#01babc;
    margin:0;
}

/*------GRID END------*/

/*----REQUIRENMENTS----*/


.minigrid{
    display:grid;  
}
.minigrid img{
    width:100%;
    
}
#require{

    background-color: #01babc;
    height:100%;
    color:white;
}
#require h2{
    margin:0;
    padding-left: 5%;
    
}
.wline{
    background-color:white;
    margin-left: 5%;
    
}
#require ul{
    list-style: none;
    line-height: 40px;
    padding: 5%; 
}

#team img{
    margin-top:30px;
    width:100%;
}
#wanna{
    position:relative;
    top: 70px;
    left:30px;
    color:#01babc;
}

#teamdate{
    margin-top:2px;
    color:#01babc;
    text-align: center;
    
}

/*--------FOOTER-------*/

#footer{
    margin-top:50px;
    background-color: black;
    width:100%;
    height:480px;
    display:grid;
    justify-content: center;
}

.fline{
    background-color: white;
    width:100px;
    height:5px;
    margin-bottom: 10px;
    margin-top:20px;
}

#footer h3,
#footer p{
    color:white;
    margin:0;
}

ul li a,
ul li{
    list-style: none;
    color:white;  
}
ul{
    line-height: 30px;
    padding-left: 0;
}




/*-----------------------
*************************
         BIG SCREEN      
*************************
-------------------------*/

@media only screen and (min-width: 700px){
    
    .links{
        flex-direction: row;
        justify-content: space-around;
        height:250px;
        width:80%;
        margin:auto;
    }
    .wrap img{
        width:100%;
        margin-top: 50px;
    }
    .wrap{
        width:80%;
        margin:auto;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
    }
    .line{
        margin-top:50px;
    }
    
    .minigrid{
        grid-template-columns: 1fr 1fr;
    }
    #require{
        height:100%;
    }
    #footer{
        height:170px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .address,
    .contact,
    .menu{
    
        place-self:center;
        
    }
    #welcome h4,
    #team h4{
        font-size: 1.5rem;
    }
    
    #wanna{
        top: 130px;
        left:50px;
    }
    
    #welcome{
        bottom:250px;
        left:300px;
    }
    
  
    
}





































