@import url('https://fonts.googleapis.com/css?family=Ubuntu|VT323');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

body{
    font-family: 'Ubuntu', sans-serif;
}


/*-----------------------
*************************
     MOBILE FIRST      
*************************
-------------------------*/


#face{
    width:100%;
    
}
#welcome{
    position: relative;
    bottom:100px;
    left:50px;
    color:#01babc;
}
h4{
    margin:0;
}

a{
    text-decoration: none;
    cursor:pointer;
}

/*----TOP LINKS----*/

.links{
    background-color: rgba(102, 153, 153, 0.2);
    width:100%;
    height:450px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.onelink{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.onelink img{
    margin-bottom: 10px;
    margin-top:10px;
}


#icon{
    width:100px;
    height:100px;
}
#button{
    padding:3px;
    background-color: #01babc;
    border-radius: 4px;
    color:white;
}

/*-----GRID START-----*/
.wrap img{
    width:100%;
    margin-top: 50px;
}
.wrap{
    
    display:grid;
    
}
.line{
    background-color: #01babc;
    width:100px;
    height:5px;
    margin-top: 20px;  
}

.nested h2{
    color:#01babc;
    margin:0;
}

/*------GRID END------*/

/*----REQUIRENMENTS----*/


.minigrid{
    display:grid;  
}
.minigrid img{
    width:100%; 
}
#require{

    background-color: #01babc;
    height:320px;
    color:white;
}
#require h2{
    margin:0;
    padding-left: 5%;
    font-size: 18px;
}
.wline{
    background-color:white;
    margin-left: 5%;
    
}
#require ul{
    list-style: none;
    line-height: 40px;
    padding: 5%; 
}
#require ul li{
    font-size:15px;
}

#team img{
    margin-top:30px;
    width:100%;
}
#wanna{
    position:relative;
    top: 70px;
    left:30px;
    color:#01babc;
}

#teamdate{
    margin-top:2px;
    color:#01babc;
    text-align: center;
    
}

/*--------FOOTER-------*/

#footer{
    margin-top:50px;
    background-color: black;
    width:100%;
    height:480px;
    display:grid;
    justify-content: center;
}

.fline{
    background-color: white;
    width:100px;
    height:5px;
    margin-bottom: 10px;
    margin-top:20px;
}

#footer h3,
#footer p{
    color:white;
    margin:0;
}

ul li a,
ul li{
    list-style: none;
    color:white;  
}
ul{
    line-height: 30px;
    padding-left: 0;
}




/*-----------------------
*************************
         BIG SCREEN      
*************************
-------------------------*/

@media only screen and (min-width: 768px){
    
    .links{
        flex-direction: row;
        justify-content: space-around;
        height:250px;
        width:80%;
        margin:auto;
    }
    .wrap img{
        width:100%;
        margin-top: 50px;
    }
    .wrap{
        width:80%;
        margin:auto;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
    }
    .line{
        margin-top:50px;
    }
    
    .minigrid{
        grid-template-columns: 1fr 1fr;
    }
    #require{
        height:100%;
    }
    #footer{
        height:170px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .address,
    .contact,
    .menu{
    
        place-self:center;
        
    }
    #welcome h4,
    #team h4{
        font-size: 1.4rem;
    }
    
    #wanna{
        top: 130px;
        left:50px;
    }
    
    #welcome{
        bottom:250px;
        left:300px;
    }
    
  
    
}
